<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/'; // change to an empty string to use the global namespace
            
            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            function sendMessage () {
                socket.emit("message",document.getElementById("chat-input").value)
            }
            socket.on("new_message",(data)=>{
                document.getElementById("chat").innerHTML+="<br>"+data;
            })
            
            socket.on('edgar', function(msg){
                alert('a')
                console.log(msg.time)
                $('#test').html('<p>' + msg.time + '</p>');
                alert(msg.time)         
            });
          
        });
    </script>
</head>
<body>
    <h3>Demo-Flask-SocketIO</h3>
    <p id='test'> Hello </p>
    <input id="chat-input" type="text"> <button onclick="sendMessage()">Send Message</button>
</body>
</html>